<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>API_BASE_HOST</key>
	<string>http://192.168.1.69:3000</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>YSHOP needs your location to set your delivery address</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>YSHOP needs your location for delivery tracking</string>
</dict>
</plist>
